<%= image_tag 'Calendar.png' %>

<div class="calendar">
  <%= month_calendar events: @blogs do |date, blogs| %>
    <%= date.day %>

    <div class="calendar-chart">
      <% blogs.each do |blog| %>
        <div>
          <%= link_to blog.title, blog %>
        </div>
      <% end %>
    </div>
</div>

<% end %>

<%= link_to '予定を入れる', new_blog_path %>
