<%= image_tag 'create_news2.png' %>
<%= form_for @sport do |f| %>


  <div class="field">
    <%= f.label :題名 %>
    <%= f.text_field :theme, :size => 80 %>
  </div>

  <div class="field">
    <%= f.label :内容  %>
    <%= f.text_area :about, :size => "130x 30" %>
  </div>

  <div class="field">
    <%= f.label :写真の選択 %>
    <%= f.file_field :image %>
  </div>

  <div class="field-all">
   <%= f.submit "POST" %>
  </div>

  <div class="field-second">
   <%= link_to " 投稿一覧に戻る", sports_path %>
  </div>
<% end %>
